* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: #141313;
}

h1, h3 {
  text-align: center;
  color: #ffffff;

}

h1 {
  font-size: 60px;
  color: 	#ffffff;
}

body {
  width: 100%;
  background-color: #8b9dc3;
}

.signup {
  display: flex;
  justify-content: space-around;
}
.App {
  display: flex;
  justify-content: space-around;
  width: 53%
}

.nav {
  display:flex;
  flex-direction: column;
  width:63%;
  border: #3b5998 2px solid;
  border-radius: 10px;
  border-color: #dfe3ee;
  padding: 10px;
  box-shadow:5px 5px 10px #222725;
}

.list {
  display: flex;
  flex-direction: column;
  border: #3b5998 2px solid;
  border-radius: 10px;
  border-color: #dfe3ee;
  width: 70%;
  padding: 10px;
  box-shadow:5px 5px 10px #222725;
}

.link {
  text-decoration: none;
  border: solid black 1px;
  border-radius: 10px;
  padding: 14px 25px;
  text-align: center;
  background-color: #f7f7f7;
  color: black;
  margin: 5px;
  box-shadow:5px 5px 10px #222725;
  margin-left: 10px;
}

.link:active{
  background-color: #dfe3ee;
  box-shadow: inset 0px 0px 5px #dfe3ee;
}

.link:hover{
  background-color: #8b9dc3;
}

.link:visited{
  text-decoration: none;
}

.addItemContainer{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.addItemBtn {
  background-color: #8b9dc3;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow:5px 5px 10px #222725;
  border-radius: 10px;
}

.addItemBtn:hover{
  background-color: #dfe3ee;

}
.addItemBtn:active{
  background-color: #3b5998;
  box-shadow: inset 0px 0px 5px #c1c1c1;

}

#addItemText {
  margin: 4px 2px;
  padding: 10px;
  border-radius: 10px;
  box-shadow:5px 5px 10px #222725;
}


.items{
  font-size: 18px;
}

.ItemComponent {
  border: solid black 1px;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  margin: 10px;
  box-shadow:5px 5px 10px #222725;
}

.toBuyListBtn, .purchasedListBtn, .eatenListBtn{
  background-color: #8b9dc3;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.toBuyListBtn:hover, .purchasedListBtn:hover, .eatenListBtn:hover{
  background-color: #8b9dc3;
}


.toBuyListBtnContainer, .purchasedListBtnContainer, .eatenListBtnContainer{
  float: right;
}

button:active {
  background-color: #3b5998;
  box-shadow: inset 5px 5px 5px #c1c1c1;
}

#likedBtn:focus{
  background-color: #3b5998;
}

#dislikedBtn:focus{
  background-color: #3b5998;
}